/*
* Application: Portfolio
* Author: Ryan Jones
* Version: 02/10/2017
*/

body {
  background-color: #eee;
  width: 100%;
  height: auto;
  padding-left: -30px;
  text-align: center;
}

h1,h2,h3,h4,h5 {
  font-family: 'Lobster', cursive;
  color: #eee;
}

p, footer {
  font-family: 'Montserrat', sans-serif;
}

/***** Heading *****/

.header {
  height: auto;
  background-color: blue;
  padding: 30px;
}

.main-header {
  font-size: 50px;
}

.secondary-header {
  font-size: 40px;
}

/***** About *****/

.about {
  background-color: red;
  height: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 50px;
  padding-right: 50px;
}

.about img {
  border-radius: 150px;
  border-radius: 10px;
}

.about-text {
  padding-top: 20px;
}


/***** Projects *****/

.projects {
  clear: both;
  background-color: green;
  height: auto;
  width: 100%;
  padding: 30px;
}


.projects img {
  padding: 10px;
}

.black-background-faded {
  background-color: rgba(0, 0, 0, 0.5);
  padding: auto;
  z-index: -1;
}

/***** More Information *****/

.more-information {
  background-color: aqua;
  height: auto;
  padding: 50px;
}

/***** More Information *****/

.footer {
  background-color: blueviolet;
  height: auto;
  padding: 30px;
}


/***** Image Effect's *****/

.image-effect {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.image-effect:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  transition: 1s;
}

/***** General effects *****/



/***** Media Query's *****/

@media screen and (max-width: 997px) {
  
  .projects img {
    width: 100%;
  }
  
  .self {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  
  .btn-group {
    padding-top: 20px;
  }
}







