/*
* Application: Portfolio
* Author: Ryan Jones
* Version: 02/10/2017
*/

body {
  background-image: url('../images/header-image.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
  padding-left: -30px;
  text-align: center;
}

h1,h2,h3,h4,h5 {
  font-family: 'Lobster', cursive;
  color: #eee;
}

p, footer {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}

/***** Navigation *****/

.navigation {
  padding-top: 35px;
  padding-left: 10px;
}

.navigation li {
  list-style-type: none;
  text-align: center;
  font-size: 20px;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.8);
}

.navigation a {
  color: #fff;
}

.navigation li a:hover {
  text-decoration: underline;
}

/* Colored Spans */

span.green {
  color: green;
}

span.blue {
  color: blue;
}

span.yellow {
  color: yellow;
}

/***** Heading *****/

.header {
  height: auto;
  padding: 30px;
}

.main-header {
  font-size: 75px;
  color: #333;
  text-shadow: 4px 4px #eee;
}

.secondary-header {
  font-size: 40px;
  color: #fff;
}

/***** About *****/

.about {
  background-color: rgba(0, 0, 0, 0.8);
  height: auto;
  color: #fff;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 34px;
  padding-right: 34px;
}

.about img {
  border-radius: 150px;
  border-radius: 10px;
}

.about-text {
  padding-top: 20px;
}

.about-text p {
  font-size: 20px;
}


/***** Projects *****/

.projects {
  clear: both;
  background-color: rgba(0, 0, 0, 0.8);
  height: auto;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.projects h2 {
  padding-top: 10px;
}

.projects img {
  padding: 10px;
}

/***** More Information *****/

.more-information {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  height: auto;
  padding-bottom: 80px;
}

.sub-paragraph {
  padding-left: 30px;
  padding-right: 30px;
}

.more-information h2 {
  padding-top: 10px;
}

/***** Footer *****/

.footer {
  background-color: rgba(0, 0, 0, 0);
  height: auto;
  color: #fff;
  margin-top: 25px;
  padding-bottom: 20px;
}

.bg-black {
  width: 100%;
  margin-top: 20px;
  background-color: rgba(0, 0, 0, 0.8);
}

/***** Image Effect's *****/

.image-effect {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.image-effect:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  transition: 1s;
}

/***** General effects *****/


/***** Media Query's *****/

@media screen and (max-width: 997px) {
  
  .projects img {
    width: 100%;
  }
  
  .self {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  
  .btn-group {
    padding-top: 20px;
  }
}







